doctype html
html
    head
        title Laraib Dance Academy
        block scripts
        block style
    body
        nav#navbar.top 
            ul
                div#logo 
                    img(src="/static/img/Silhouette-Girl-Dancing-Vector-PNG-Transparent-Image.png")
                    | LDA
                li #[a(href = '/') Home] 
                li #[a(href = '/') About] 
                li #[a(href = '/contact') Contact Us]
                li #[a(href = '/') Services] 
                li #[a(href = '/') Class Info] 

        block content
    footer#footer
        | Copyright © 2022 Laraib Dance Academy.com | All rights reserved